<form (ngSubmit)="onSubmit(parcelForm)" #parcelForm="ngForm">
    <div *ngFor="let field of parcelColumns | keyvalue">
      <label for="{{ field.key }}">{{ field.key | titlecase }}:</label>
      <input [type]="field.value.type" [id]="field.key" [name]="field.key" [(ngModel)]="parcel[field.key]" required>
  
      <!-- Validation Error Message -->
      <div *ngIf="parcelForm.controls[field.key]?.invalid && (parcelForm.controls[field.key]?.dirty || parcelForm.controls[field.key]?.touched)">
        <div class="form-invalid" *ngIf="parcelForm.controls[field.key]?.errors?.required">{{ field.key | titlecase }} is required.</div>
        <div class="form-invalid" *ngIf="parcelForm.controls[field.key]?.errors?.invalid">{{ parcelForm.controls[field.key]?.errors?.invalid }}</div>
      </div>
    </div>
  
    <div class="btn-sec">
        <button mat-raised-button type="submit" color="primary" class="save-btn" (click)="onSubmit(parcelForm)">Save</button>
        <button mat-raised-button type="button" class="cancel-btn" (click)="cancel()">Cancel</button>
    </div>
  </form>